<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <footer>
      <div class="row">
        <div class="col-lg-9 col--lg-offset-3">
          <div class="col-lg-3">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Angular 2</a>
            </div>
          </div>
          <div class="col-lg-9">
            <p style="color: #ebebeb; text-align: center;">Copyright &copy; lany9527@gmail.com 2016</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</nav>

