<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/demo/component" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-sitemap"></i> components
        </a>
        <a routerLink="/demo/pipe" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-filter"></i> pipes
        </a>
        <a routerLink="/demo/directive" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-tasks"></i> directives
        </a>
        <a routerLink="/demo/service" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-server"></i> services
        </a>
      </div>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
