<!--<script src="users.component.ts"></script>-->
<div>
  <label>Hero name:</label>
  <input type="text" #userName>
  <button (click)="add(userName.value); userName.value=''">Add</button>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <h2>User List</h2>
    <ul class="users">
      <li
        *ngFor="let user of users"
        [class.selected]="user === selectedUser"
        (click)="onSelect(user)">
        <span class="badge">{{user.id}}</span>{{user.name}}
        <button class="delete"
                (click)="delete(user); $event.stopPropagation()">x</button>
      </li>
    </ul>
  </div>
  <!--<app-user-detail [user]="selectedUser"></app-user-detail>-->

  <div *ngIf="selectedUser">
    <h2>
      {{selectedUser.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>